<!DOCTYPE html>
<html>
<head>
  <title>Petrohub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in_and_approved? %>
    <p>Welcome, <%= current_user.email %></p>
    <%else%>
      <p><%= link_to "Sign In", new_user_session_path %></p>
      <p><%= link_to "sign_up", new_user_registration_path %></p>
      <%end%>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
